/* FONTS */
@import url('https://fonts.googleapis.com/css3?family=Roboto&display=swap&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* --------------------------------- */

/* ROOT */

:root {
  --primary : #17B794;
  --black   : #11385b;
  --navy    : #11385b;
}
.im_none {
  display: none !important;
}
.index_up {
  z-index: 2;
}
.bg_2 {
  background: #f6f7f9;
}
.theme_color {
  color: var(--primary);
}
.scrollable_div {
  overflow-x: auto;
  margin: 0 -15px;
}
/* --------------------------------- */

/* MAIN PROPERTIES */
h1, h2, h3, h4, h5, h6, .heading_font {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}
p, span, b, div, li, a {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}
html.site_loaded {
  overflow-y: auto;
}
body {
  font-size: 14px;
  color: #050505;
  font-family: 'Cairo', sans-serif;
}
/* --------------------------------- */

/* PRELOADER */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--navy);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
/* lines */
.preloader .lines {
  position: absolute;
  width: 80px;
  height: 40px;
}
/* line */
.preloader .line {
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: #fff;
  clip: rect(0, 0, 20px, 0);
}
/* line_1 */
.preloader .line_1 {
  top: 0;
  -webkit-animation: slide 2s ease 0s infinite;
          animation: slide 2s ease 0s infinite;
}
/* line_2 */
.preloader .line_2 {
  top: 15px;
  -webkit-animation: slide 2s ease 0.25s infinite;
          animation: slide 2s ease 0.25s infinite;
}
/* line_3 */
.preloader .line_3 {
  top: 30px;
  -webkit-animation: slide 2s ease 0.5s infinite;
          animation: slide 2s ease 0.5s infinite;
}
/* loading_text */
.preloader .loading_text {
  position: relative;
  top: 60px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 10px;
  height: 10px;
  -webkit-animation: fade 1s ease 0s infinite;
          animation: fade 1s ease 0s infinite;
}
@-webkit-keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }
  30% {
    clip: rect(0, 80px, 20px, 0);
  }
  50% {
    clip: rect(0, 80px, 20px, 0);
  }
  80% {
    clip: rect(0, 80px, 20px, 80px);
  }
  100% {
    clip: rect(0, 80px, 20px, 80px);
  }
}

@keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }
  30% {
    clip: rect(0, 80px, 20px, 0);
  }
  50% {
    clip: rect(0, 80px, 20px, 0);
  }
  80% {
    clip: rect(0, 80px, 20px, 80px);
  }
  100% {
    clip: rect(0, 80px, 20px, 80px);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --------------------------------- */

/* BUTTONS & LINKS */
a {
  text-decoration: none !important;
}
button {
  cursor: pointer;
  outline: none !important;
}
/* primary */
.theme_btn_primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 60px;
  background: var(--primary);
  border: 2px solid var(--primary);
  font-family: 'Open Sans', sans-serif;
  color: white !important;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background .25s, border-color .25s;
}
.theme_btn_primary:hover {
  background: #4ecca3;
  border-color: #4ecca3;
}
.theme_btn_primary:focus {
  outline: #4ecca3 solid 2px !important;
  border-color: #4ecca3;
  background: #4ecca3;
}
.theme_btn_primary:active {
  outline-color: var(--primary);
  border-color: var(--primary);
  background: var(--primary);
}
/* basic */
.basic_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 14px;
  color: rgba(17, 56, 91, 0.5);
}
.basic_link:hover {
  color: var(--primary);
}
@media only screen and (max-width: 767.98px) {
  /* primary */
  .theme_btn_primary {
    width: 100%;
  }
}
/* --------------------------------- */

/* SPCAE */
.space_sm {
  height: 40px;
}
.space_md {
  height: 70px;
}
.space_lg {
  height: 80px;
}
.space_xl {
  height: 120px;
}
.py_md {
  padding: 60px 0;
}
.py_lg {
  padding: 100px 0;
}
.py_xl {
  padding: 140px 0;
}
.pt_xl {
  padding-top: 140px;
}
.pb_xl {
  padding-bottom: 140px;
}
.pb_lg {
  padding-bottom: 100px;
}
.mr_sm {
  margin-right: 7px;
}
.ml_sm {
  margin-left: 7px;
}
.mb_sm {
  margin-bottom: 7px;
}
@media(max-width: 767.98px) {
  .py_lg {
    padding: 70px 0;
  }
  .py_xl {
    padding: 100px 0;
  }
  .pb_xl {
    padding-bottom: 100px;
  }
}
/* --------------------------------- */

/* SECTION TITLE */
/* se_title */
.se_title {
  text-align: center;
}
/* title_1 */
.se_title .title_1 {
  position: relative;
  display: table;
  margin: 0 auto;
  font-size: 46px;
  color: var(--navy);
  font-weight: 700;
  z-index: 2;
}
.se_title .title_1 span {
  position: relative;
  display: table;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}
.se_title .title_1 span::before {
  position: absolute;
  content: '';
  height: 20px;
  background: #C5E1E9;
  top: 35px;
  left: 0;
  right: 0;
  z-index: -1;
}
/* side_title */
/* para_2 */
.se_title .para_2 {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: var(--navy);
}
@media only screen and (max-width: 767.98px) {
  .se_title {
    text-align: left;
  }
  /* title_1 */
  .se_title .title_1 {
    font-size: 32px;
    margin: 0;
  }
  .se_title .title_1 span {
    margin: 0;
  }
  .se_title .title_1 span::before {
    top: 20px;
    height: 15px;
  }
}
/* --------------------------------- */

/* LIVE CHAT CONTAINER */
.live_chat_container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}
/* live_chat_btn */
.live_chat_container .live_chat_btn {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: #FFF;
  font-size: 20px;
  color: var(--navy);
  transition: .3s;
  transform-origin: 95% 95%
}
.live_chat_container.live_chat_max .live_chat_btn {
  opacity: 0;
  transform: scale(0);
}
.live_chat_container .live_chat_btn:hover {
  background: var(--primary);
  color: #FFF;
}
/* live_chat */
.live_chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  min-width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  transform-origin: 95% 95%
}
.live_chat_container.live_chat_max .live_chat {
  opacity: 1;
  transform: scale(1);
}
/* chat_title */
.live_chat .chat_title {
  background: var(--navy);
  padding: 20px 25px 15px;
}
/* title_1 */
.live_chat .chat_title .title_1 {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
}
/* dismiss_btn */
.live_chat .dismiss_btn {
  background: transparent;
  padding: 0;
  color: #FFF;
  font-size: 10px;
  border: 0;
}
/* comment */
.live_chat .comment {
  font-size: 12px;
  color: var(--navy);
  background: #C5E1E9;
  padding: 10px 25px;
}
.live_chat .comment b {
  color: var(--navy);
}
/* messages */
.live_chat .messages {
  flex: 1 1 auto;
  min-height: 300px;
  padding: 0 15px 20px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  background: #FFF;
}
/* messages_content */
.live_chat .messages_content {
  position: absolute;
  left: 0;
  height: 101%;
  width: 100%;
  padding: 0 25px;
}
/* message */
.live_chat .message {
  position: relative;
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: #eaeef7;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--navy);
  margin-left: 35px;
}
.live_chat .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid #eaeef7;
  left: 0;
  border-right: 7px solid transparent;
}
/* timestamp */
.live_chat .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: var(--navy);
  outline: none;
}
.live_chat .message .avatar img {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid #13b66c;
}
.live_chat .message.message_personal {
  float: right;
  color: #fff;
  text-align: right;
  background: var(--primary);
  border-radius: 10px 10px 0 10px;
}
.live_chat .message.message_personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid var(--primary);
  bottom: -4px;
}
.live_chat .message:last-child {
  margin-bottom: 30px;
}
.live_chat .message.new {
  line-break: anywhere;
  display: inline-flex;
  transform: scale(0);
  transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}
.live_chat .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}
.live_chat .message.loading span {
  position: relative;
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
}
.live_chat .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
.live_chat .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
/* message_box */
.message_box {
  padding: 15px;
  width: 100%;
  background: #FFF;
  border-top: 1px solid #C5E1E9;
}
.message_box .message_input {
  border: none;
  outline: none !important;
  resize: none;
  line-height: 1.2;
  color: var(--navy);
  background: #eaeef7;
  padding: 20px 50px 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  height: 50px;
  font-size: 12px;
  margin: 0;
}
.message_box .message_input::-webkit-scrollbar {
  width: 0;
}
.message_box textarea::-webkit-input-placeholder {
  color: #979797;
}
.message_box textarea::-moz-placeholder {
  color: #979797;
}
.message_box textarea:-ms-input-placeholder {
  color: #979797;
}
.message_box textarea::-ms-input-placeholder {
  color: #979797;
}
.message_box textarea::placeholder {
  color: #979797;
}
.message_box .message_submit {
  position: absolute;
  z-index: 1;
  right: 25px;
  color: #fff;
  border: none;
  width: 34px;
  height: 34px;
  background: var(--primary);
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 50%;
  outline: none !important;
  transition: background .2s ease;
}
.message_box .message_submit:hover {
  background: #4ecca3;
}
/* custom scrollbar */
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}
.mCustomScrollBox {
  outline: none;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.5) !important;
}
@-webkit-keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
/* --------------------------------- */

/* NAVBAR */
.theme_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 60px 0;
}
@media only screen and (min-width: 1200px) {
  .theme_navbar.scrolled_down {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
    background: #FFF;
  }
  .theme_navbar.scrolled_up {
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
  .theme_navbar.tiny {
    padding: 15px 0;
    box-shadow: 6px 24px 48px rgba(0,0,0,.02);
    background: #FFF;
  }
}
/* navbar_logo */
.theme_navbar .navbar_logo img {
  height: 40px;
}
/* navbar_link */
.theme_navbar .navbar_links .navbar_link {
  position: relative;
  text-transform: uppercase;
}
/* custom_link */
.theme_navbar .custom_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 46px;
  background: #FFF;
  border: 1px solid rgba(17, 56, 91, .5);
  color: var(--navy);
  padding: 0 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all .25s;
}
.theme_navbar .custom_link:hover {
  color: #FFF;
  background: var(--primary);
  border-color: var(--primary);
}
/* navbar_link & has_dropdown_menu */
@media only screen and (min-width: 1200px) {
  .theme_navbar .navbar_links {
    margin-top: 14px;
  }
  .theme_navbar .navbar_links .navbar_link.has_dropdown_menu::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background: transparent;
  }
  .theme_navbar .navbar_links .navbar_link.has_dropdown_menu > a svg {
    vertical-align: top;
    fill: rgb(17, 56, 91);
    opacity: 0.5;
    transform: rotate(0deg);
    margin: 6px 0px 0px 8px;
    transition: opacity 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s, fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .theme_navbar .navbar_links .navbar_link.has_dropdown_menu:hover > a svg {
    opacity: 1;
    transform: rotate(-180deg);
  }
  .theme_navbar .navbar_links .navbar_link > a {
    position: relative;
    display: inline-flex;
    font-size: 13px;
    line-height: 15px;
    color: var(--navy);
    font-weight: 600;
    opacity: .7;
    padding: 0px 16px 16px;
    transition: all .25s;
  }
  .theme_navbar .navbar_links .navbar_link:hover > a {
    opacity: 1;
  }
}
/* navbar_dropdown_menu */
@media only screen and (min-width: 1200px) {
  .theme_navbar .navbar_dropdown_menu {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.08) 6px 12px 48px;
    left: -8px;
    top: 14px;
    text-align: left;
    min-width: 250px;
    z-index: 1000;
    transform: translateY(0px);
    opacity: 0;
    visibility: hidden;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 24px 24px 0px;
    transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0s,
                opacity 0.55s cubic-bezier(0.19, 1, 0.22, 1) 0s,
                visibility 0s ease 0.25s;
  }
  .theme_navbar .navbar_link.has_dropdown_menu:hover .navbar_dropdown_menu {
    transform: translateY(26px);
    opacity: 1;
    visibility: visible;
    transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0s,
                opacity 0.55s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
}
/* dropdown_menu_link */
.theme_navbar .dropdown_menu_link a {
  display: block;
  font-size: 13px;
  color: var(--navy);
  font-weight: 500;
  line-height: 15px;
  transition: color 0.55s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0px 0px 14px;
  margin: 0px 0px 10px;
}
.theme_navbar .dropdown_menu_link a:hover {
  color: var(--primary);
}
/* navbar_toggler */
.navbar_toggler:hover {
  cursor: pointer;
}
.navbar_toggler .line {
  width: 50px;
  height: 3px;
  background-color: var(--navy);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.is_active .navbar_toggler .line:nth-child(2) {
  opacity: 0;
}
.is_active .navbar_toggler .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.is_active .navbar_toggler .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
/* MEDIA QUERY */
@media only screen and (max-width: 1199.98px) {
  .theme_navbar {
    padding: 40px 0;
    background: #FFF;
  }
  /* navbar_links */
  .theme_navbar .navbar_links {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #FFF;
    margin-top: 0;
    padding: 124px 80px 120px;
    min-width: 500px;
    overflow: auto;
    left: -510px;
    box-shadow: -6px 24px 48px rgba(0, 0, 0, 0.08);
    transition: all .6s cubic-bezier(.77, 0, .175, 1);
  }
  .theme_navbar.is_active .navbar_links {
    left: 0;
  }
  /* navbar_link */
  .theme_navbar .navbar_links .navbar_link {
    margin: 20px 0;
  }
  .theme_navbar .navbar_links .navbar_link.has_dropdown_menu > a {
    font-size: 13px;
    color: var(--navy);
    opacity: .7;
    width: 100%;
  }
  .theme_navbar .navbar_links .navbar_link > a {
    font-size: 16px;
    color: var(--navy);
    font-weight: 600;
    line-height: 16px;
    margin: 8px 0px;
    padding: 16px 0px;
  }
  .theme_navbar .navbar_links .navbar_link:not(.has_dropdown_menu) > a:hover {
    color: var(--primary);
  }
  /* navbar_link & has_dropdown_menu */
  .theme_navbar .navbar_links .navbar_link.has_dropdown_menu > a svg {
    display: none;
  }
  /* navbar_dropdown_menu */
  .theme_navbar .navbar_dropdown_menu {
    position: relative;
    min-width: 220px;
  }
  /* dropdown_menu_link */
  .theme_navbar .dropdown_menu_link a {
    font-size: 16px;
    color: rgb(17, 56, 91);
    font-weight: 600;
    line-height: 16px;
    margin: 8px 0px;
    padding: 8px 0px;
  }
}
@media only screen and (max-width: 767.98px) {
  .theme_navbar {
    padding: 15px 0;
  }
  /* navbar_links */
  .theme_navbar .navbar_links {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #FFF;
    margin-top: 0;
    padding: 124px 40px 120px;
    min-width: 100%;
    left: -100%;
  }

}
/* --------------------------------- */

/* FOOTER */
footer {
  background: #11385b;
  background: linear-gradient(to top, #f6f7f9, #fff);
}
/* top_sec */
footer .top_sec {
  padding: 60px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/* title_1 */
footer .top_sec .title_1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}
/* para_1 */
footer .top_sec .para_1 {
  font-size: 15px;
  color: var(--black);
}
/* footer_form */
footer .top_sec .footer_form input {
  border: 1px solid rgba(17, 56, 91, 0.2);
  padding: 20px 30px;
  transition: all .25s;
  line-height: 1.2;
  outline: none;
  font-size: 15px;
  color: var(--black);
  font-weight: 500;
  resize: none;
  border-right-width: 0;
}
footer .top_sec .footer_form input:hover {
  border-color: rgba(17, 56, 91, .5);
}
footer .top_sec .footer_form input:focus {
  border-color: rgba(17, 56, 91, 1);
}
footer .top_sec .footer_form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  opacity: .5;
}
footer .top_sec .footer_form input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  opacity: .5;
}
footer .top_sec .footer_form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  opacity: .5;
}
footer .top_sec .footer_form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  opacity: .5;
}
footer .top_sec .footer_form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  opacity: .5;
}
@media only screen and (max-width: 767.98px) {
  footer .top_sec .footer_form input {
    border-right-width: 1px;
  }
}
/* bottom_sec */
footer .bottom_sec {
  padding: 60px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/* col_title */
footer .bottom_sec .col_title {
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: 1px;
}
/* info_box */
footer .bottom_sec .info_box:not(:last-child) {
  margin-bottom: 10px;
}
footer .bottom_sec .info_box .title_2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  letter-spacing: 1px;
}
/* para_2 */
footer .bottom_sec .info_box .para_2 {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--black);
}
footer .bottom_sec .info_box a.para_2:hover {
  color: var(--primary);
}
/* links_list */
footer .bottom_sec .links_list li:not(:last-child) {
  margin-bottom: 5px;
}
/* link */
footer .bottom_sec .link {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--black);
}
footer .bottom_sec .link:hover {
  color: var(--primary);
}
/* copyright_sec */
footer .copyright_sec {
  padding: 30px 0;
}
footer .copyright_sec p {
  color: var(--black);
  font-size: 15px;
  letter-spacing: 1px;
}
footer .copyright_sec a {
  color: var(--black);
  font-weight: 500;
}
footer .copyright_sec a:hover {
  color: var(--primary);
}
/* --------------------------------- */

/* CUSTOM BOOTSTRAP CLASSES */
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .container-fluid {
    width: 100%;
    padding: 0 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .container-fluid {
    width: 100%;
    padding: 0 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .container-fluid {
    width: 100%;
    padding: 0 15px;
  }
}.m-0 {
  margin: 0!important
}
.mt-0, .my-0 {
  margin-top: 0!important
}
.mr-0, .mx-0 {
  margin-right: 0!important
}
.mb-0, .my-0 {
  margin-bottom: 0!important
}
.ml-0, .mx-0 {
  margin-left: 0!important
}
.m-1 {
  margin: 15px!important
}
.mt-1, .my-1 {
  margin-top: 15px!important
}
.mr-1, .mx-1 {
  margin-right: 15px!important
}
.mb-1, .my-1 {
  margin-bottom: 15px!important
}
.ml-1, .mx-1 {
  margin-left: 15px!important
}
.m-2 {
  margin: 30px!important
}
.mt-2, .my-2 {
  margin-top: 30px!important
}
.mr-2, .mx-2 {
  margin-right: 30px!important
}
.mb-2, .my-2 {
  margin-bottom: 30px!important
}
.ml-2, .mx-2 {
  margin-left: 30px!important
}
.m-3 {
  margin: 45px!important
}
.mt-3, .my-3 {
  margin-top: 45px!important
}
.mr-3, .mx-3 {
  margin-right: 45px!important
}
.mb-3, .my-3 {
  margin-bottom: 45px!important
}
.ml-3, .mx-3 {
  margin-left: 45px!important
}
.m-4 {
  margin: 60px!important
}
.mt-4, .my-4 {
  margin-top: 60px!important
}
.mr-4, .mx-4 {
  margin-right: 60px!important
}
.mb-4, .my-4 {
  margin-bottom: 60px!important
}
.ml-4, .mx-4 {
  margin-left: 60px!important
}
.m-5 {
  margin: 75px!important
}
.mt-5, .my-5 {
  margin-top: 75px!important
}
.mr-5, .mx-5 {
  margin-right: 75px!important
}
.mb-5, .my-5 {
  margin-bottom: 75px!important
}
.ml-5, .mx-5 {
  margin-left: 75px!important
}
.p-0 {
  padding: 0!important
}
.pt-0, .py-0 {
  padding-top: 0!important
}
.pr-0, .px-0 {
  padding-right: 0!important
}
.pb-0, .py-0 {
  padding-bottom: 0!important
}
.pl-0, .px-0 {
  padding-left: 0!important
}
.p-1 {
  padding: 15px!important
}
.pt-1, .py-1 {
  padding-top: 15px!important
}
.pr-1, .px-1 {
  padding-right: 15px!important
}
.pb-1, .py-1 {
  padding-bottom: 15px!important
}
.pl-1, .px-1 {
  padding-left: 15px!important
}
.p-2 {
  padding: 30px!important
}
.pt-2, .py-2 {
  padding-top: 30px!important
}
.pr-2, .px-2 {
  padding-right: 30px!important
}
.pb-2, .py-2 {
  padding-bottom: 30px!important
}
.pl-2, .px-2 {
  padding-left: 30px!important
}
.p-3 {
  padding: 45px!important
}
.pt-3, .py-3 {
  padding-top: 45px!important
}
.pr-3, .px-3 {
  padding-right: 45px!important
}
.pb-3, .py-3 {
  padding-bottom: 45px!important
}
.pl-3, .px-3 {
  padding-left: 45px!important
}
.p-4 {
  padding: 60px!important
}
.pt-4, .py-4 {
  padding-top: 60px!important
}
.pr-4, .px-4 {
  padding-right: 60px!important
}
.pb-4, .py-4 {
  padding-bottom: 60px!important
}
.pl-4, .px-4 {
  padding-left: 60px!important
}
.p-5 {
  padding: 75px!important
}
.pt-5, .py-5 {
  padding-top: 75px!important
}
.pr-5, .px-5 {
  padding-right: 75px!important
}
.pb-5, .py-5 {
  padding-bottom: 75px!important
}
.pl-5, .px-5 {
  padding-left: 75px!important
}
.m-n1 {
  margin: -15px!important
}
.mt-n1, .my-n1 {
  margin-top: -15px!important
}
.mr-n1, .mx-n1 {
  margin-right: -15px!important
}
.mb-n1, .my-n1 {
  margin-bottom: -15px!important
}
.ml-n1, .mx-n1 {
  margin-left: -15px!important
}
.m-n2 {
  margin: -30px!important
}
.mt-n2, .my-n2 {
  margin-top: -30px!important
}
.mr-n2, .mx-n2 {
  margin-right: -30px!important
}
.mb-n2, .my-n2 {
  margin-bottom: -30px!important
}
.ml-n2, .mx-n2 {
  margin-left: -30px!important
}
.m-n3 {
  margin: -45px!important
}
.mt-n3, .my-n3 {
  margin-top: -45px!important
}
.mr-n3, .mx-n3 {
  margin-right: -45px!important
}
.mb-n3, .my-n3 {
  margin-bottom: -45px!important
}
.ml-n3, .mx-n3 {
  margin-left: -45px!important
}
.m-n4 {
  margin: -60px!important
}
.mt-n4, .my-n4 {
  margin-top: -60px!important
}
.mr-n4, .mx-n4 {
  margin-right: -60px!important
}
.mb-n4, .my-n4 {
  margin-bottom: -60px!important
}
.ml-n4, .mx-n4 {
  margin-left: -60px!important
}
.m-n5 {
  margin: -75px!important
}
.mt-n5, .my-n5 {
  margin-top: -75px!important
}
.mr-n5, .mx-n5 {
  margin-right: -75px!important
}
.mb-n5, .my-n5 {
  margin-bottom: -75px!important
}
.ml-n5, .mx-n5 {
  margin-left: -75px!important
}
.m-auto {
  margin: auto!important
}
.mt-auto, .my-auto {
  margin-top: auto!important
}
.mr-auto, .mx-auto {
  margin-right: auto!important
}
.mb-auto, .my-auto {
  margin-bottom: auto!important
}
.ml-auto, .mx-auto {
  margin-left: auto!important
}
@media (min-width:576px) {
  .m-sm-0 {
    margin: 0!important
  }
  .mt-sm-0, .my-sm-0 {
    margin-top: 0!important
  }
  .mr-sm-0, .mx-sm-0 {
    margin-right: 0!important
  }
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0!important
  }
  .ml-sm-0, .mx-sm-0 {
    margin-left: 0!important
  }
  .m-sm-1 {
    margin: 15px!important
  }
  .mt-sm-1, .my-sm-1 {
    margin-top: 15px!important
  }
  .mr-sm-1, .mx-sm-1 {
    margin-right: 15px!important
  }
  .mb-sm-1, .my-sm-1 {
    margin-bottom: 15px!important
  }
  .ml-sm-1, .mx-sm-1 {
    margin-left: 15px!important
  }
  .m-sm-2 {
    margin: 30px!important
  }
  .mt-sm-2, .my-sm-2 {
    margin-top: 30px!important
  }
  .mr-sm-2, .mx-sm-2 {
    margin-right: 30px!important
  }
  .mb-sm-2, .my-sm-2 {
    margin-bottom: 30px!important
  }
  .ml-sm-2, .mx-sm-2 {
    margin-left: 30px!important
  }
  .m-sm-3 {
    margin: 45px!important
  }
  .mt-sm-3, .my-sm-3 {
    margin-top: 45px!important
  }
  .mr-sm-3, .mx-sm-3 {
    margin-right: 45px!important
  }
  .mb-sm-3, .my-sm-3 {
    margin-bottom: 45px!important
  }
  .ml-sm-3, .mx-sm-3 {
    margin-left: 45px!important
  }
  .m-sm-4 {
    margin: 60px!important
  }
  .mt-sm-4, .my-sm-4 {
    margin-top: 60px!important
  }
  .mr-sm-4, .mx-sm-4 {
    margin-right: 60px!important
  }
  .mb-sm-4, .my-sm-4 {
    margin-bottom: 60px!important
  }
  .ml-sm-4, .mx-sm-4 {
    margin-left: 60px!important
  }
  .m-sm-5 {
    margin: 75px!important
  }
  .mt-sm-5, .my-sm-5 {
    margin-top: 75px!important
  }
  .mr-sm-5, .mx-sm-5 {
    margin-right: 75px!important
  }
  .mb-sm-5, .my-sm-5 {
    margin-bottom: 75px!important
  }
  .ml-sm-5, .mx-sm-5 {
    margin-left: 75px!important
  }
  .p-sm-0 {
    padding: 0!important
  }
  .pt-sm-0, .py-sm-0 {
    padding-top: 0!important
  }
  .pr-sm-0, .px-sm-0 {
    padding-right: 0!important
  }
  .pb-sm-0, .py-sm-0 {
    padding-bottom: 0!important
  }
  .pl-sm-0, .px-sm-0 {
    padding-left: 0!important
  }
  .p-sm-1 {
    padding: 15px!important
  }
  .pt-sm-1, .py-sm-1 {
    padding-top: 15px!important
  }
  .pr-sm-1, .px-sm-1 {
    padding-right: 15px!important
  }
  .pb-sm-1, .py-sm-1 {
    padding-bottom: 15px!important
  }
  .pl-sm-1, .px-sm-1 {
    padding-left: 15px!important
  }
  .p-sm-2 {
    padding: 30px!important
  }
  .pt-sm-2, .py-sm-2 {
    padding-top: 30px!important
  }
  .pr-sm-2, .px-sm-2 {
    padding-right: 30px!important
  }
  .pb-sm-2, .py-sm-2 {
    padding-bottom: 30px!important
  }
  .pl-sm-2, .px-sm-2 {
    padding-left: 30px!important
  }
  .p-sm-3 {
    padding: 45px!important
  }
  .pt-sm-3, .py-sm-3 {
    padding-top: 45px!important
  }
  .pr-sm-3, .px-sm-3 {
    padding-right: 45px!important
  }
  .pb-sm-3, .py-sm-3 {
    padding-bottom: 45px!important
  }
  .pl-sm-3, .px-sm-3 {
    padding-left: 45px!important
  }
  .p-sm-4 {
    padding: 60px!important
  }
  .pt-sm-4, .py-sm-4 {
    padding-top: 60px!important
  }
  .pr-sm-4, .px-sm-4 {
    padding-right: 60px!important
  }
  .pb-sm-4, .py-sm-4 {
    padding-bottom: 60px!important
  }
  .pl-sm-4, .px-sm-4 {
    padding-left: 60px!important
  }
  .p-sm-5 {
    padding: 75px!important
  }
  .pt-sm-5, .py-sm-5 {
    padding-top: 75px!important
  }
  .pr-sm-5, .px-sm-5 {
    padding-right: 75px!important
  }
  .pb-sm-5, .py-sm-5 {
    padding-bottom: 75px!important
  }
  .pl-sm-5, .px-sm-5 {
    padding-left: 75px!important
  }
  .m-sm-n1 {
    margin: -15px!important
  }
  .mt-sm-n1, .my-sm-n1 {
    margin-top: -15px!important
  }
  .mr-sm-n1, .mx-sm-n1 {
    margin-right: -15px!important
  }
  .mb-sm-n1, .my-sm-n1 {
    margin-bottom: -15px!important
  }
  .ml-sm-n1, .mx-sm-n1 {
    margin-left: -15px!important
  }
  .m-sm-n2 {
    margin: -30px!important
  }
  .mt-sm-n2, .my-sm-n2 {
    margin-top: -30px!important
  }
  .mr-sm-n2, .mx-sm-n2 {
    margin-right: -30px!important
  }
  .mb-sm-n2, .my-sm-n2 {
    margin-bottom: -30px!important
  }
  .ml-sm-n2, .mx-sm-n2 {
    margin-left: -30px!important
  }
  .m-sm-n3 {
    margin: -45px!important
  }
  .mt-sm-n3, .my-sm-n3 {
    margin-top: -45px!important
  }
  .mr-sm-n3, .mx-sm-n3 {
    margin-right: -45px!important
  }
  .mb-sm-n3, .my-sm-n3 {
    margin-bottom: -45px!important
  }
  .ml-sm-n3, .mx-sm-n3 {
    margin-left: -45px!important
  }
  .m-sm-n4 {
    margin: -60px!important
  }
  .mt-sm-n4, .my-sm-n4 {
    margin-top: -60px!important
  }
  .mr-sm-n4, .mx-sm-n4 {
    margin-right: -60px!important
  }
  .mb-sm-n4, .my-sm-n4 {
    margin-bottom: -60px!important
  }
  .ml-sm-n4, .mx-sm-n4 {
    margin-left: -60px!important
  }
  .m-sm-n5 {
    margin: -75px!important
  }
  .mt-sm-n5, .my-sm-n5 {
    margin-top: -75px!important
  }
  .mr-sm-n5, .mx-sm-n5 {
    margin-right: -75px!important
  }
  .mb-sm-n5, .my-sm-n5 {
    margin-bottom: -75px!important
  }
  .ml-sm-n5, .mx-sm-n5 {
    margin-left: -75px!important
  }
  .m-sm-auto {
    margin: auto!important
  }
  .mt-sm-auto, .my-sm-auto {
    margin-top: auto!important
  }
  .mr-sm-auto, .mx-sm-auto {
    margin-right: auto!important
  }
  .mb-sm-auto, .my-sm-auto {
    margin-bottom: auto!important
  }
  .ml-sm-auto, .mx-sm-auto {
    margin-left: auto!important
  }
}
@media (min-width:768px) {
  .m-md-0 {
    margin: 0!important
  }
  .mt-md-0, .my-md-0 {
    margin-top: 0!important
  }
  .mr-md-0, .mx-md-0 {
    margin-right: 0!important
  }
  .mb-md-0, .my-md-0 {
    margin-bottom: 0!important
  }
  .ml-md-0, .mx-md-0 {
    margin-left: 0!important
  }
  .m-md-1 {
    margin: 15px!important
  }
  .mt-md-1, .my-md-1 {
    margin-top: 15px!important
  }
  .mr-md-1, .mx-md-1 {
    margin-right: 15px!important
  }
  .mb-md-1, .my-md-1 {
    margin-bottom: 15px!important
  }
  .ml-md-1, .mx-md-1 {
    margin-left: 15px!important
  }
  .m-md-2 {
    margin: 30px!important
  }
  .mt-md-2, .my-md-2 {
    margin-top: 30px!important
  }
  .mr-md-2, .mx-md-2 {
    margin-right: 30px!important
  }
  .mb-md-2, .my-md-2 {
    margin-bottom: 30px!important
  }
  .ml-md-2, .mx-md-2 {
    margin-left: 30px!important
  }
  .m-md-3 {
    margin: 45px!important
  }
  .mt-md-3, .my-md-3 {
    margin-top: 45px!important
  }
  .mr-md-3, .mx-md-3 {
    margin-right: 45px!important
  }
  .mb-md-3, .my-md-3 {
    margin-bottom: 45px!important
  }
  .ml-md-3, .mx-md-3 {
    margin-left: 45px!important
  }
  .m-md-4 {
    margin: 60px!important
  }
  .mt-md-4, .my-md-4 {
    margin-top: 60px!important
  }
  .mr-md-4, .mx-md-4 {
    margin-right: 60px!important
  }
  .mb-md-4, .my-md-4 {
    margin-bottom: 60px!important
  }
  .ml-md-4, .mx-md-4 {
    margin-left: 60px!important
  }
  .m-md-5 {
    margin: 75px!important
  }
  .mt-md-5, .my-md-5 {
    margin-top: 75px!important
  }
  .mr-md-5, .mx-md-5 {
    margin-right: 75px!important
  }
  .mb-md-5, .my-md-5 {
    margin-bottom: 75px!important
  }
  .ml-md-5, .mx-md-5 {
    margin-left: 75px!important
  }
  .p-md-0 {
    padding: 0!important
  }
  .pt-md-0, .py-md-0 {
    padding-top: 0!important
  }
  .pr-md-0, .px-md-0 {
    padding-right: 0!important
  }
  .pb-md-0, .py-md-0 {
    padding-bottom: 0!important
  }
  .pl-md-0, .px-md-0 {
    padding-left: 0!important
  }
  .p-md-1 {
    padding: 15px!important
  }
  .pt-md-1, .py-md-1 {
    padding-top: 15px!important
  }
  .pr-md-1, .px-md-1 {
    padding-right: 15px!important
  }
  .pb-md-1, .py-md-1 {
    padding-bottom: 15px!important
  }
  .pl-md-1, .px-md-1 {
    padding-left: 15px!important
  }
  .p-md-2 {
    padding: 30px!important
  }
  .pt-md-2, .py-md-2 {
    padding-top: 30px!important
  }
  .pr-md-2, .px-md-2 {
    padding-right: 30px!important
  }
  .pb-md-2, .py-md-2 {
    padding-bottom: 30px!important
  }
  .pl-md-2, .px-md-2 {
    padding-left: 30px!important
  }
  .p-md-3 {
    padding: 45px!important
  }
  .pt-md-3, .py-md-3 {
    padding-top: 45px!important
  }
  .pr-md-3, .px-md-3 {
    padding-right: 45px!important
  }
  .pb-md-3, .py-md-3 {
    padding-bottom: 45px!important
  }
  .pl-md-3, .px-md-3 {
    padding-left: 45px!important
  }
  .p-md-4 {
    padding: 60px!important
  }
  .pt-md-4, .py-md-4 {
    padding-top: 60px!important
  }
  .pr-md-4, .px-md-4 {
    padding-right: 60px!important
  }
  .pb-md-4, .py-md-4 {
    padding-bottom: 60px!important
  }
  .pl-md-4, .px-md-4 {
    padding-left: 60px!important
  }
  .p-md-5 {
    padding: 75px!important
  }
  .pt-md-5, .py-md-5 {
    padding-top: 75px!important
  }
  .pr-md-5, .px-md-5 {
    padding-right: 75px!important
  }
  .pb-md-5, .py-md-5 {
    padding-bottom: 75px!important
  }
  .pl-md-5, .px-md-5 {
    padding-left: 75px!important
  }
  .m-md-n1 {
    margin: -15px!important
  }
  .mt-md-n1, .my-md-n1 {
    margin-top: -15px!important
  }
  .mr-md-n1, .mx-md-n1 {
    margin-right: -15px!important
  }
  .mb-md-n1, .my-md-n1 {
    margin-bottom: -15px!important
  }
  .ml-md-n1, .mx-md-n1 {
    margin-left: -15px!important
  }
  .m-md-n2 {
    margin: -30px!important
  }
  .mt-md-n2, .my-md-n2 {
    margin-top: -30px!important
  }
  .mr-md-n2, .mx-md-n2 {
    margin-right: -30px!important
  }
  .mb-md-n2, .my-md-n2 {
    margin-bottom: -30px!important
  }
  .ml-md-n2, .mx-md-n2 {
    margin-left: -30px!important
  }
  .m-md-n3 {
    margin: -45px!important
  }
  .mt-md-n3, .my-md-n3 {
    margin-top: -45px!important
  }
  .mr-md-n3, .mx-md-n3 {
    margin-right: -45px!important
  }
  .mb-md-n3, .my-md-n3 {
    margin-bottom: -45px!important
  }
  .ml-md-n3, .mx-md-n3 {
    margin-left: -45px!important
  }
  .m-md-n4 {
    margin: -60px!important
  }
  .mt-md-n4, .my-md-n4 {
    margin-top: -60px!important
  }
  .mr-md-n4, .mx-md-n4 {
    margin-right: -60px!important
  }
  .mb-md-n4, .my-md-n4 {
    margin-bottom: -60px!important
  }
  .ml-md-n4, .mx-md-n4 {
    margin-left: -60px!important
  }
  .m-md-n5 {
    margin: -75px!important
  }
  .mt-md-n5, .my-md-n5 {
    margin-top: -75px!important
  }
  .mr-md-n5, .mx-md-n5 {
    margin-right: -75px!important
  }
  .mb-md-n5, .my-md-n5 {
    margin-bottom: -75px!important
  }
  .ml-md-n5, .mx-md-n5 {
    margin-left: -75px!important
  }
  .m-md-auto {
    margin: auto!important
  }
  .mt-md-auto, .my-md-auto {
    margin-top: auto!important
  }
  .mr-md-auto, .mx-md-auto {
    margin-right: auto!important
  }
  .mb-md-auto, .my-md-auto {
    margin-bottom: auto!important
  }
  .ml-md-auto, .mx-md-auto {
    margin-left: auto!important
  }
}
@media (min-width:992px) {
  .m-lg-0 {
    margin: 0!important
  }
  .mt-lg-0, .my-lg-0 {
    margin-top: 0!important
  }
  .mr-lg-0, .mx-lg-0 {
    margin-right: 0!important
  }
  .mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important
  }
  .ml-lg-0, .mx-lg-0 {
    margin-left: 0!important
  }
  .m-lg-1 {
    margin: 15px!important
  }
  .mt-lg-1, .my-lg-1 {
    margin-top: 15px!important
  }
  .mr-lg-1, .mx-lg-1 {
    margin-right: 15px!important
  }
  .mb-lg-1, .my-lg-1 {
    margin-bottom: 15px!important
  }
  .ml-lg-1, .mx-lg-1 {
    margin-left: 15px!important
  }
  .m-lg-2 {
    margin: 30px!important
  }
  .mt-lg-2, .my-lg-2 {
    margin-top: 30px!important
  }
  .mr-lg-2, .mx-lg-2 {
    margin-right: 30px!important
  }
  .mb-lg-2, .my-lg-2 {
    margin-bottom: 30px!important
  }
  .ml-lg-2, .mx-lg-2 {
    margin-left: 30px!important
  }
  .m-lg-3 {
    margin: 45px!important
  }
  .mt-lg-3, .my-lg-3 {
    margin-top: 45px!important
  }
  .mr-lg-3, .mx-lg-3 {
    margin-right: 45px!important
  }
  .mb-lg-3, .my-lg-3 {
    margin-bottom: 45px!important
  }
  .ml-lg-3, .mx-lg-3 {
    margin-left: 45px!important
  }
  .m-lg-4 {
    margin: 60px!important
  }
  .mt-lg-4, .my-lg-4 {
    margin-top: 60px!important
  }
  .mr-lg-4, .mx-lg-4 {
    margin-right: 60px!important
  }
  .mb-lg-4, .my-lg-4 {
    margin-bottom: 60px!important
  }
  .ml-lg-4, .mx-lg-4 {
    margin-left: 60px!important
  }
  .m-lg-5 {
    margin: 75px!important
  }
  .mt-lg-5, .my-lg-5 {
    margin-top: 75px!important
  }
  .mr-lg-5, .mx-lg-5 {
    margin-right: 75px!important
  }
  .mb-lg-5, .my-lg-5 {
    margin-bottom: 75px!important
  }
  .ml-lg-5, .mx-lg-5 {
    margin-left: 75px!important
  }
  .p-lg-0 {
    padding: 0!important
  }
  .pt-lg-0, .py-lg-0 {
    padding-top: 0!important
  }
  .pr-lg-0, .px-lg-0 {
    padding-right: 0!important
  }
  .pb-lg-0, .py-lg-0 {
    padding-bottom: 0!important
  }
  .pl-lg-0, .px-lg-0 {
    padding-left: 0!important
  }
  .p-lg-1 {
    padding: 15px!important
  }
  .pt-lg-1, .py-lg-1 {
    padding-top: 15px!important
  }
  .pr-lg-1, .px-lg-1 {
    padding-right: 15px!important
  }
  .pb-lg-1, .py-lg-1 {
    padding-bottom: 15px!important
  }
  .pl-lg-1, .px-lg-1 {
    padding-left: 15px!important
  }
  .p-lg-2 {
    padding: 30px!important
  }
  .pt-lg-2, .py-lg-2 {
    padding-top: 30px!important
  }
  .pr-lg-2, .px-lg-2 {
    padding-right: 30px!important
  }
  .pb-lg-2, .py-lg-2 {
    padding-bottom: 30px!important
  }
  .pl-lg-2, .px-lg-2 {
    padding-left: 30px!important
  }
  .p-lg-3 {
    padding: 45px!important
  }
  .pt-lg-3, .py-lg-3 {
    padding-top: 45px!important
  }
  .pr-lg-3, .px-lg-3 {
    padding-right: 45px!important
  }
  .pb-lg-3, .py-lg-3 {
    padding-bottom: 45px!important
  }
  .pl-lg-3, .px-lg-3 {
    padding-left: 45px!important
  }
  .p-lg-4 {
    padding: 60px!important
  }
  .pt-lg-4, .py-lg-4 {
    padding-top: 60px!important
  }
  .pr-lg-4, .px-lg-4 {
    padding-right: 60px!important
  }
  .pb-lg-4, .py-lg-4 {
    padding-bottom: 60px!important
  }
  .pl-lg-4, .px-lg-4 {
    padding-left: 60px!important
  }
  .p-lg-5 {
    padding: 75px!important
  }
  .pt-lg-5, .py-lg-5 {
    padding-top: 75px!important
  }
  .pr-lg-5, .px-lg-5 {
    padding-right: 75px!important
  }
  .pb-lg-5, .py-lg-5 {
    padding-bottom: 75px!important
  }
  .pl-lg-5, .px-lg-5 {
    padding-left: 75px!important
  }
  .m-lg-n1 {
    margin: -15px!important
  }
  .mt-lg-n1, .my-lg-n1 {
    margin-top: -15px!important
  }
  .mr-lg-n1, .mx-lg-n1 {
    margin-right: -15px!important
  }
  .mb-lg-n1, .my-lg-n1 {
    margin-bottom: -15px!important
  }
  .ml-lg-n1, .mx-lg-n1 {
    margin-left: -15px!important
  }
  .m-lg-n2 {
    margin: -30px!important
  }
  .mt-lg-n2, .my-lg-n2 {
    margin-top: -30px!important
  }
  .mr-lg-n2, .mx-lg-n2 {
    margin-right: -30px!important
  }
  .mb-lg-n2, .my-lg-n2 {
    margin-bottom: -30px!important
  }
  .ml-lg-n2, .mx-lg-n2 {
    margin-left: -30px!important
  }
  .m-lg-n3 {
    margin: -45px!important
  }
  .mt-lg-n3, .my-lg-n3 {
    margin-top: -45px!important
  }
  .mr-lg-n3, .mx-lg-n3 {
    margin-right: -45px!important
  }
  .mb-lg-n3, .my-lg-n3 {
    margin-bottom: -45px!important
  }
  .ml-lg-n3, .mx-lg-n3 {
    margin-left: -45px!important
  }
  .m-lg-n4 {
    margin: -60px!important
  }
  .mt-lg-n4, .my-lg-n4 {
    margin-top: -60px!important
  }
  .mr-lg-n4, .mx-lg-n4 {
    margin-right: -60px!important
  }
  .mb-lg-n4, .my-lg-n4 {
    margin-bottom: -60px!important
  }
  .ml-lg-n4, .mx-lg-n4 {
    margin-left: -60px!important
  }
  .m-lg-n5 {
    margin: -75px!important
  }
  .mt-lg-n5, .my-lg-n5 {
    margin-top: -75px!important
  }
  .mr-lg-n5, .mx-lg-n5 {
    margin-right: -75px!important
  }
  .mb-lg-n5, .my-lg-n5 {
    margin-bottom: -75px!important
  }
  .ml-lg-n5, .mx-lg-n5 {
    margin-left: -75px!important
  }
  .m-lg-auto {
    margin: auto!important
  }
  .mt-lg-auto, .my-lg-auto {
    margin-top: auto!important
  }
  .mr-lg-auto, .mx-lg-auto {
    margin-right: auto!important
  }
  .mb-lg-auto, .my-lg-auto {
    margin-bottom: auto!important
  }
  .ml-lg-auto, .mx-lg-auto {
    margin-left: auto!important
  }
}
@media (min-width:1200px) {
  .m-xl-0 {
    margin: 0!important
  }
  .mt-xl-0, .my-xl-0 {
    margin-top: 0!important
  }
  .mr-xl-0, .mx-xl-0 {
    margin-right: 0!important
  }
  .mb-xl-0, .my-xl-0 {
    margin-bottom: 0!important
  }
  .ml-xl-0, .mx-xl-0 {
    margin-left: 0!important
  }
  .m-xl-1 {
    margin: 15px!important
  }
  .mt-xl-1, .my-xl-1 {
    margin-top: 15px!important
  }
  .mr-xl-1, .mx-xl-1 {
    margin-right: 15px!important
  }
  .mb-xl-1, .my-xl-1 {
    margin-bottom: 15px!important
  }
  .ml-xl-1, .mx-xl-1 {
    margin-left: 15px!important
  }
  .m-xl-2 {
    margin: 30px!important
  }
  .mt-xl-2, .my-xl-2 {
    margin-top: 30px!important
  }
  .mr-xl-2, .mx-xl-2 {
    margin-right: 30px!important
  }
  .mb-xl-2, .my-xl-2 {
    margin-bottom: 30px!important
  }
  .ml-xl-2, .mx-xl-2 {
    margin-left: 30px!important
  }
  .m-xl-3 {
    margin: 45px!important
  }
  .mt-xl-3, .my-xl-3 {
    margin-top: 45px!important
  }
  .mr-xl-3, .mx-xl-3 {
    margin-right: 45px!important
  }
  .mb-xl-3, .my-xl-3 {
    margin-bottom: 45px!important
  }
  .ml-xl-3, .mx-xl-3 {
    margin-left: 45px!important
  }
  .m-xl-4 {
    margin: 60px!important
  }
  .mt-xl-4, .my-xl-4 {
    margin-top: 60px!important
  }
  .mr-xl-4, .mx-xl-4 {
    margin-right: 60px!important
  }
  .mb-xl-4, .my-xl-4 {
    margin-bottom: 60px!important
  }
  .ml-xl-4, .mx-xl-4 {
    margin-left: 60px!important
  }
  .m-xl-5 {
    margin: 75px!important
  }
  .mt-xl-5, .my-xl-5 {
    margin-top: 75px!important
  }
  .mr-xl-5, .mx-xl-5 {
    margin-right: 75px!important
  }
  .mb-xl-5, .my-xl-5 {
    margin-bottom: 75px!important
  }
  .ml-xl-5, .mx-xl-5 {
    margin-left: 75px!important
  }
  .p-xl-0 {
    padding: 0!important
  }
  .pt-xl-0, .py-xl-0 {
    padding-top: 0!important
  }
  .pr-xl-0, .px-xl-0 {
    padding-right: 0!important
  }
  .pb-xl-0, .py-xl-0 {
    padding-bottom: 0!important
  }
  .pl-xl-0, .px-xl-0 {
    padding-left: 0!important
  }
  .p-xl-1 {
    padding: 15px!important
  }
  .pt-xl-1, .py-xl-1 {
    padding-top: 15px!important
  }
  .pr-xl-1, .px-xl-1 {
    padding-right: 15px!important
  }
  .pb-xl-1, .py-xl-1 {
    padding-bottom: 15px!important
  }
  .pl-xl-1, .px-xl-1 {
    padding-left: 15px!important
  }
  .p-xl-2 {
    padding: 30px!important
  }
  .pt-xl-2, .py-xl-2 {
    padding-top: 30px!important
  }
  .pr-xl-2, .px-xl-2 {
    padding-right: 30px!important
  }
  .pb-xl-2, .py-xl-2 {
    padding-bottom: 30px!important
  }
  .pl-xl-2, .px-xl-2 {
    padding-left: 30px!important
  }
  .p-xl-3 {
    padding: 45px!important
  }
  .pt-xl-3, .py-xl-3 {
    padding-top: 45px!important
  }
  .pr-xl-3, .px-xl-3 {
    padding-right: 45px!important
  }
  .pb-xl-3, .py-xl-3 {
    padding-bottom: 45px!important
  }
  .pl-xl-3, .px-xl-3 {
    padding-left: 45px!important
  }
  .p-xl-4 {
    padding: 60px!important
  }
  .pt-xl-4, .py-xl-4 {
    padding-top: 60px!important
  }
  .pr-xl-4, .px-xl-4 {
    padding-right: 60px!important
  }
  .pb-xl-4, .py-xl-4 {
    padding-bottom: 60px!important
  }
  .pl-xl-4, .px-xl-4 {
    padding-left: 60px!important
  }
  .p-xl-5 {
    padding: 75px!important
  }
  .pt-xl-5, .py-xl-5 {
    padding-top: 75px!important
  }
  .pr-xl-5, .px-xl-5 {
    padding-right: 75px!important
  }
  .pb-xl-5, .py-xl-5 {
    padding-bottom: 75px!important
  }
  .pl-xl-5, .px-xl-5 {
    padding-left: 75px!important
  }
  .m-xl-n1 {
    margin: -15px!important
  }
  .mt-xl-n1, .my-xl-n1 {
    margin-top: -15px!important
  }
  .mr-xl-n1, .mx-xl-n1 {
    margin-right: -15px!important
  }
  .mb-xl-n1, .my-xl-n1 {
    margin-bottom: -15px!important
  }
  .ml-xl-n1, .mx-xl-n1 {
    margin-left: -15px!important
  }
  .m-xl-n2 {
    margin: -30px!important
  }
  .mt-xl-n2, .my-xl-n2 {
    margin-top: -30px!important
  }
  .mr-xl-n2, .mx-xl-n2 {
    margin-right: -30px!important
  }
  .mb-xl-n2, .my-xl-n2 {
    margin-bottom: -30px!important
  }
  .ml-xl-n2, .mx-xl-n2 {
    margin-left: -30px!important
  }
  .m-xl-n3 {
    margin: -45px!important
  }
  .mt-xl-n3, .my-xl-n3 {
    margin-top: -45px!important
  }
  .mr-xl-n3, .mx-xl-n3 {
    margin-right: -45px!important
  }
  .mb-xl-n3, .my-xl-n3 {
    margin-bottom: -45px!important
  }
  .ml-xl-n3, .mx-xl-n3 {
    margin-left: -45px!important
  }
  .m-xl-n4 {
    margin: -60px!important
  }
  .mt-xl-n4, .my-xl-n4 {
    margin-top: -60px!important
  }
  .mr-xl-n4, .mx-xl-n4 {
    margin-right: -60px!important
  }
  .mb-xl-n4, .my-xl-n4 {
    margin-bottom: -60px!important
  }
  .ml-xl-n4, .mx-xl-n4 {
    margin-left: -60px!important
  }
  .m-xl-n5 {
    margin: -75px!important
  }
  .mt-xl-n5, .my-xl-n5 {
    margin-top: -75px!important
  }
  .mr-xl-n5, .mx-xl-n5 {
    margin-right: -75px!important
  }
  .mb-xl-n5, .my-xl-n5 {
    margin-bottom: -75px!important
  }
  .ml-xl-n5, .mx-xl-n5 {
    margin-left: -75px!important
  }
  .m-xl-auto {
    margin: auto!important
  }
  .mt-xl-auto, .my-xl-auto {
    margin-top: auto!important
  }
  .mr-xl-auto, .mx-xl-auto {
    margin-right: auto!important
  }
  .mb-xl-auto, .my-xl-auto {
    margin-bottom: auto!important
  }
  .ml-xl-auto, .mx-xl-auto {
    margin-left: auto!important
  }
}
@media (min-width:1367px) {
  .m-xxl-0 {
    margin: 0!important
  }
  .mt-xxl-0, .my-xxl-0 {
    margin-top: 0!important
  }
  .mr-xxl-0, .mx-xxl-0 {
    margin-right: 0!important
  }
  .mb-xxl-0, .my-xxl-0 {
    margin-bottom: 0!important
  }
  .ml-xxl-0, .mx-xxl-0 {
    margin-left: 0!important
  }
  .m-xxl-1 {
    margin: 15px!important
  }
  .mt-xxl-1, .my-xxl-1 {
    margin-top: 15px!important
  }
  .mr-xxl-1, .mx-xxl-1 {
    margin-right: 15px!important
  }
  .mb-xxl-1, .my-xxl-1 {
    margin-bottom: 15px!important
  }
  .ml-xxl-1, .mx-xxl-1 {
    margin-left: 15px!important
  }
  .m-xxl-2 {
    margin: 30px!important
  }
  .mt-xxl-2, .my-xxl-2 {
    margin-top: 30px!important
  }
  .mr-xxl-2, .mx-xxl-2 {
    margin-right: 30px!important
  }
  .mb-xxl-2, .my-xxl-2 {
    margin-bottom: 30px!important
  }
  .ml-xxl-2, .mx-xxl-2 {
    margin-left: 30px!important
  }
  .m-xxl-3 {
    margin: 45px!important
  }
  .mt-xxl-3, .my-xxl-3 {
    margin-top: 45px!important
  }
  .mr-xxl-3, .mx-xxl-3 {
    margin-right: 45px!important
  }
  .mb-xxl-3, .my-xxl-3 {
    margin-bottom: 45px!important
  }
  .ml-xxl-3, .mx-xxl-3 {
    margin-left: 45px!important
  }
  .m-xxl-4 {
    margin: 60px!important
  }
  .mt-xxl-4, .my-xxl-4 {
    margin-top: 60px!important
  }
  .mr-xxl-4, .mx-xxl-4 {
    margin-right: 60px!important
  }
  .mb-xxl-4, .my-xxl-4 {
    margin-bottom: 60px!important
  }
  .ml-xxl-4, .mx-xxl-4 {
    margin-left: 60px!important
  }
  .m-xxl-5 {
    margin: 75px!important
  }
  .mt-xxl-5, .my-xxl-5 {
    margin-top: 75px!important
  }
  .mr-xxl-5, .mx-xxl-5 {
    margin-right: 75px!important
  }
  .mb-xxl-5, .my-xxl-5 {
    margin-bottom: 75px!important
  }
  .ml-xxl-5, .mx-xxl-5 {
    margin-left: 75px!important
  }
  .p-xxl-0 {
    padding: 0!important
  }
  .pt-xxl-0, .py-xxl-0 {
    padding-top: 0!important
  }
  .pr-xxl-0, .px-xxl-0 {
    padding-right: 0!important
  }
  .pb-xxl-0, .py-xxl-0 {
    padding-bottom: 0!important
  }
  .pl-xxl-0, .px-xxl-0 {
    padding-left: 0!important
  }
  .p-xxl-1 {
    padding: 15px!important
  }
  .pt-xxl-1, .py-xxl-1 {
    padding-top: 15px!important
  }
  .pr-xxl-1, .px-xxl-1 {
    padding-right: 15px!important
  }
  .pb-xxl-1, .py-xxl-1 {
    padding-bottom: 15px!important
  }
  .pl-xxl-1, .px-xxl-1 {
    padding-left: 15px!important
  }
  .p-xxl-2 {
    padding: 30px!important
  }
  .pt-xxl-2, .py-xxl-2 {
    padding-top: 30px!important
  }
  .pr-xxl-2, .px-xxl-2 {
    padding-right: 30px!important
  }
  .pb-xxl-2, .py-xxl-2 {
    padding-bottom: 30px!important
  }
  .pl-xxl-2, .px-xxl-2 {
    padding-left: 30px!important
  }
  .p-xxl-3 {
    padding: 45px!important
  }
  .pt-xxl-3, .py-xxl-3 {
    padding-top: 45px!important
  }
  .pr-xxl-3, .px-xxl-3 {
    padding-right: 45px!important
  }
  .pb-xxl-3, .py-xxl-3 {
    padding-bottom: 45px!important
  }
  .pl-xxl-3, .px-xxl-3 {
    padding-left: 45px!important
  }
  .p-xxl-4 {
    padding: 60px!important
  }
  .pt-xxl-4, .py-xxl-4 {
    padding-top: 60px!important
  }
  .pr-xxl-4, .px-xxl-4 {
    padding-right: 60px!important
  }
  .pb-xxl-4, .py-xxl-4 {
    padding-bottom: 60px!important
  }
  .pl-xxl-4, .px-xxl-4 {
    padding-left: 60px!important
  }
  .p-xxl-5 {
    padding: 75px!important
  }
  .pt-xxl-5, .py-xxl-5 {
    padding-top: 75px!important
  }
  .pr-xxl-5, .px-xxl-5 {
    padding-right: 75px!important
  }
  .pb-xxl-5, .py-xxl-5 {
    padding-bottom: 75px!important
  }
  .pl-xxl-5, .px-xxl-5 {
    padding-left: 75px!important
  }
  .m-xxl-n1 {
    margin: -15px!important
  }
  .mt-xxl-n1, .my-xxl-n1 {
    margin-top: -15px!important
  }
  .mr-xxl-n1, .mx-xxl-n1 {
    margin-right: -15px!important
  }
  .mb-xxl-n1, .my-xxl-n1 {
    margin-bottom: -15px!important
  }
  .ml-xxl-n1, .mx-xxl-n1 {
    margin-left: -15px!important
  }
  .m-xxl-n2 {
    margin: -30px!important
  }
  .mt-xxl-n2, .my-xxl-n2 {
    margin-top: -30px!important
  }
  .mr-xxl-n2, .mx-xxl-n2 {
    margin-right: -30px!important
  }
  .mb-xxl-n2, .my-xxl-n2 {
    margin-bottom: -30px!important
  }
  .ml-xxl-n2, .mx-xxl-n2 {
    margin-left: -30px!important
  }
  .m-xxl-n3 {
    margin: -45px!important
  }
  .mt-xxl-n3, .my-xxl-n3 {
    margin-top: -45px!important
  }
  .mr-xxl-n3, .mx-xxl-n3 {
    margin-right: -45px!important
  }
  .mb-xxl-n3, .my-xxl-n3 {
    margin-bottom: -45px!important
  }
  .ml-xxl-n3, .mx-xxl-n3 {
    margin-left: -45px!important
  }
  .m-xxl-n4 {
    margin: -60px!important
  }
  .mt-xxl-n4, .my-xxl-n4 {
    margin-top: -60px!important
  }
  .mr-xxl-n4, .mx-xxl-n4 {
    margin-right: -60px!important
  }
  .mb-xxl-n4, .my-xxl-n4 {
    margin-bottom: -60px!important
  }
  .ml-xxl-n4, .mx-xxl-n4 {
    margin-left: -60px!important
  }
  .m-xxl-n5 {
    margin: -75px!important
  }
  .mt-xxl-n5, .my-xxl-n5 {
    margin-top: -75px!important
  }
  .mr-xxl-n5, .mx-xxl-n5 {
    margin-right: -75px!important
  }
  .mb-xxl-n5, .my-xxl-n5 {
    margin-bottom: -75px!important
  }
  .ml-xxl-n5, .mx-xxl-n5 {
    margin-left: -75px!important
  }
  .m-xxl-auto {
    margin: auto!important
  }
  .mt-xxl-auto, .my-xxl-auto {
    margin-top: auto!important
  }
  .mr-xxl-auto, .mx-xxl-auto {
    margin-right: auto!important
  }
  .mb-xxl-auto, .my-xxl-auto {
    margin-bottom: auto!important
  }
  .ml-xxl-auto, .mx-xxl-auto {
    margin-left: auto!important
  }
}
/* --------------------------------- */